[submodule "mixnet-htsim"]
	path = mixnet-htsim
	url = https://github.com/PeisongZhang/mixnet-htsim.git
[submodule "mixnet-flexflow"]
	path = mixnet-flexflow
	url = https://github.com/PeisongZhang/mixnet-flexflow.git
